<!DOCTYPE html>
<html>
    <head>
        <title>CCTV</title>
        <link rel="icon" type="image/png" href="{{ base_url() }}/favicon.png">
        <style type="text/css">
            html, body, p, img {
                margin: 0;
                padding: 0;
            }
            img {
                width: 100%;
            }
            @media screen and (min-device-width: 800px) {
                img {
                    width: {{ 100 / cameras|length }}%;
                }
            }
        </style>
    </head>
    <body>
        {% for camera in cameras -%}
            <img src="{{ path_for('cameraSnapshot', {'cameraName': camera.name}) }}" name="{{ camera.name }}" />
        {%- endfor %}
    </body>
</html>
